<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<script src="{$smarty.const.JS_URL}admin/lun.js" type="text/jscript"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<link href="{$smarty.const.CSS_URL}admin/lun.css" rel="stylesheet" type="text/css" />
	<body>
		<div class="container">
			<div class="banner">
				<img src="{$smarty.const.IMAGE_URL}admin/th3.jpg"/>
			</div>
			<div class="banner" id="aa">
				<img src="{$smarty.const.IMAGE_URL}admin/th1.jpg"/>
			</div>
			<div class="banner a1">
				<img src="{$smarty.const.IMAGE_URL}admin/th2.jpg"/>
			</div>
			<div class="banner">
				<img src="{$smarty.const.IMAGE_URL}admin/th3.jpg"/>
			</div>
			<div class="banner">
				<img src="{$smarty.const.IMAGE_URL}admin/th1.jpg"/>
			</div>
		</div>
	</body>
</html>
