<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<link type="text/css" rel="stylesheet" href="{$smarty.const.CSS_URL}admin/register.css" />
	<body>
		
		<div class="contens">
			<h1 style="text-align:center; color: #fff;">welcome to this layou</h1>
			
			<div class="register">
				<p class="title">注册</p>
				
				<form action="register.html" method="post" class="form-class">
					<input type="text"  placeholder="email" name="uname" class="uname"/>
					<input type="password" placeholder="pwd" name="pwd"  class="pwd"/><br/>
					<input type="text" placeholder="手机" name="phone"  class="phone"/><br/>
					<input type="text" placeholder="名称" name="name"  class="name"/><br/>
					<button name="submit" type="submit">注册</button>
				</form>
				
			</div>	

		</div>
		
	</body>
</html>
