*{
	padding: 0;
	margin: 0;
	background-size:cover ;
}

body {
	background: url(../../image/home/th.jpg) no-repeat;
}
 
h1 {
	width: 1200px;
	margin: auto;
	margin-top:30px;
}

.ppp {
	text-indent: 2rem;
	width: 800px;
	color: #FFFFFF;	
	margin: auto;
	line-height: 31px;
}

.text-contents {
	width: 1200px;
	margin: auto;
	color: #fff;
	font-size: 18px;
	padding: 40px 0;
}